section {
    color: red;
}

/* h1 {
    color: black;
}

.green {
    color: green;
}

.red {
    color: red;
} */


div > p {
    color: green;
}

/* div > .black {
    color: black;
} */

div > p ~ h1 {
    color: black;
}


* {
    box-sizing: border-box;
    margin: 0;
}