.my-carousel-container {
    max-height: 80vh !important;
    position: relative;
}

.carousel-item {
    max-height: 80vh;
}

.carousel-caption {
    position: absolute;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.overlay {
    position: absolute;
    background-color: #00000090;
    height: 80vh;
    width: 100%;
    z-index: 1;
}

.card {
    width: 18rem;
}